@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: Arial, sans-serif;
}



h1,
h2,
h3 {
    font-family: Roboto;
}

table,iframe{
    margin: auto; 
    background-color: #ffffff;
    color: #000000;
}

image{
    border-style: solid;
    
}

section {
    box-sizing: border-box;
    margin: 100px;
    border: 2px solid black;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    
}

footer,header,nav{
    background-color: aquamarine;
}

main{
    /* Modo de colocar los elementos internos en una rejilla */
    display: grid; 

    /* Separación entre filas */
    row-gap: 0.5rem; 

    /* Separación entre columnas */
    column-gap: 0.5rem; 

    /* Nombres de las áreas*/
    grid-template-areas:    "A A A A A A"
                            "B B B B B B"
                            "C C C D D D"
                            "E E E E E E"
}

#Informacion-personal{
    grid-area: A;
}
#Educación{
    grid-area: B;
}
#Experiencia{
    grid-area: C;
}
#Habilidades{
    grid-area: D;
}
#Contacto{
    grid-area: E;
}