@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Sorts+Mill+Goudy&display=swap');

* {
    font-family: 'Sorts Mill Goudy';
    background-color: white;
}


table {
    margin: auto;
    background-color: white;
    color: #000000;
    text-align: center;
    line-height: 40px;
    outline-style: double;
}


img {
    border: 10px solid double;
    border-radius: 10px;
    border-style: outset;
    margin-top: 30px;
    margin-right: 3px;
    margin-left: 3px;

}

section {
    box-sizing: content-box;
    margin: 15px;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid black;
    padding: 20px;
    color: #000000;

}

span {
    Font-weight: auto;
}

h1,
h2,
nav {
    border: 15px solid peachpuff;
    background-color: peachpuff;
    border-radius: 10px;
    color: rgb(84, 84, 84);
    text-align: center;
    text-transform: capitalize;
}

nav {
    text-transform: capitalize;
    background-color: white;
    border: white;
    word-spacing: 200px;
}


footer,
#Informacion-personal,
#Habilidades {
    width: 275px;
}


main {
    /* Modo de colocar los elementos internos en una rejilla */
    display: grid;

    /* Separación entre filas */
    row-gap: 0.5rem;

    /* Separación entre columnas */
    column-gap: 0.5rem;

    /* Número de columnas: 6 * 2fr */
    grid-template-columns: repeat(3, 1fr);

}

header {
    grid-column: 1/4;
    grid-row: 1;
}



#Informacion-personal {
    grid-column: 1;
    grid-row: 2;
}

#Habilidades {
    grid-column: 2;
    grid-row: 2/4;
}

#Educación {
    grid-column: 2;
    grid-row: 3;
}


#Experiencia {
    grid-column: 1/4;
    grid-row: 4;
}

footer {
    text-align: right;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button {
    background-color: peachpuff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6c7783;
}
